<table style="width:100%">
  <tr>
    <td>Because you're in <%= @city_name %></td>
  </tr>
  <tr>
    <td><%= image_tag 'bread-logo.png' %></td>
  </tr>
  <tr>
  	<td>It's called a <%= @bread_name %></td>
  	</tr>
</table>