// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: FBF5F3;
}

div {
    display: flex;
    align-items: center;
}

.footer {
	text-align: center;
	background-color: #009DDC;
}

.header {
	text-align: center;
	background-color: #009DDC;
}

a {
	color: white;
}