// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ FBF5F3

body {
	background-color: FBF5F3;
}

tbody {
	text-align: center;
}

// the magic box element sits within this table
table {
	background-color: yellow;
}

td {
	text-color: blue;
	font-family: Helvetica, sans-serif;
}

.centerdiv {
	 align-items: center;
	 display: flex;
 	 flex-direction: column;
  	 justify-content: center;
}

.footer {
	height: 20vh;
	text-align: center;
	background-color: #009DDC;
	text-color: white;
	font-family: Helvetica, sans-serif;
}

.header {
	height: 20vh;
	display: flex;
  	justify-content: center flex-start;
	background-color: #009DDC;
	text-color: white;
	font-family: Helvetica, sans-serif;
}

.rendered-form{
	font-family: Arial, sans-serif;
	color: #ff6347;
}

ul {
	padding: 10px;
	background: #009DDC;
}

li {
	display: inline;
	padding: 0px 10px 0px 10px;
}