// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ FBF5F3

body {
	background-color: FBF5F3;
}

.centerdiv {
	 display: flex;
 	 flex-direction: column;
  	 justify-content: center;
}

.footer {
	height: 20%;
	width: 100%;
	text-align: center;
	background-color: #009DDC;
	text-color: white;
}

.header {
	height: 20%;
	width: 100%;
	text-align: center;
	background-color: #009DDC;
	text-color: white;
}

