// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ FBF5F3

body {
	background-color: FBF5F3;
}

tbody {
	text-align: center;
}

// the magic box element sits within this table
table {
	background-color: yellow;
}

td {
	text-color: blue;
	font-family: Helvetica, sans-serif;
}

.paddingdiv {
	padding: 10px 10px; 
}

.centerdiv {
	 align-items: center;
	 display: flex;
 	 flex-direction: column;
  	 justify-content: center;
}

.footer {
	height: 20vh;
	text-align: center;
	background-color: #009DDC;
	text-color: white;
	font-family: Helvetica, sans-serif;
}

.header {
	height: 20vh;
	text-align: center;
	display: flex;
  	justify-content: center flex-start;
	background-color: #009DDC;
// >>>>>>> b139cc5e33cb12d3126ec59d4565584761ee13a2
	text-color: white;
	font-family: Helvetica, sans-serif;
}

.rendered-form{
	font-family: Arial, sans-serif;
	color: #ff6347;
}

ul {
	padding: 10px;
	background: #009DDC;
}

h1 {
	font-family: Helvetica, sans-serif
// >>>>>>> 6b1bd0d28bfb244b9effa4c993b33b8abeb5a979
}