<!DOCTYPE html>
<html>
  <head>
    <title>Bun Fight</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="script.js" type="text/javascript"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
        <!-- Header-->
        <div>
        </div>

        <!-- Nav bar-->
        <div class="centerdiv header">
          <div class="topnav header" id="myTopnav">
            <ul>
              <li><a href="/index.html.erb">Home</a></li>
              <li><a href="/about.html">About</a></li>
              <li><a href="#elsewhere">Elsewhere</a></li>
            </ul>
          </div>
        </div>

        <!-- Magic Box-->
        <div class="centerdiv">
          <div>
            <%= yield %>
          </div>
        </div>  
        <!-- Form-->
        <div class="centerdiv"> 
          <form id="rendered-form">
            <div class="rendered-form">
              <div>
                <h1 id="control-1834347">Is your bread name not mentioned?<br>Fight your corner and contribute to the Bun Fight database</h1>
              </div>
                <div class="fb-text form-group field-text-1510242096151">
                  <label for="text-1510242096151" class="fb-text-label">Where are you?</label>
                  <input type="text" placeholder="Which village, town, or City?" class="form-control" name="text-1510242096151" maxlength="25" id="text-1510242096151" /></div>

                <div class="fb-text form-group field-text-1510242636819">
                  <label for="text-1510242636819" class="fb-text-label">What do you call it?</label><input type="text" placeholder="A bap, a barm, a bun maybe?" class="form-control" name="text-1510242636819" maxlength="25" id="text-1510242636819"/>
                </div>

                <br>

                <div class="fb-button form-group field-button-1510242405438">
                  <button type="submit" class="btn btn-success" name="button-1510242405438" style="success" id="button-1510242405438">Submit</button>
                </div>
             </div>
          </form>
        </div>

        <!-- Twitter widget-->
        <div class="centerdiv">
          <a class="twitter-timeline" style="width: 25% ;height: 25%" data-width="500" data-height="400" data-link-color="#981CEB" href="https://twitter.com/bun_fight_app">Tweets by Bun Fight</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <!-- Footer--> 
        <div class="centerdiv footer">
          <a href="https://twitter.com/bun_fight_app?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @bun_fight_app</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <a href="http://www.codefirstgirls.org.uk">Code First Girls</a>
        </div>

    </div>
  </body>
</html>
