<!DOCTYPE html>
<html>
  <head>
    <title>Bun Fight</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="script.js" type="text/javascript"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
        <!-- Nav bar-->
        <div class="header">
          <div class="topnav header" id="myTopnav">
            <h1>Bun Fight!</h1>
            <ul>
<!--The link used for the Home page is probably wrong, I wasn't sure which file was correct so guessed -->
              <li><a href="/index.html.erb">Home</a></li>
              <li><a href="/about.html">About</a></li>
              <li><a href="#elsewhere">Elsewhere</a></li>
            </ul>
          </div>
        </div>

        <!-- Info bar-->
        <div class="centerdiv">
          <h3>Let's get ready to rubble</h3>
        </div>

        <!-- Magic Box-->
        <div class="centerdiv">
          <div>
            <%= yield %>
          </div>
        </div>  

        <!-- Form-->
        <div class="centerdiv">
          <form class="form-inline">
            <div class="form-group">
              <label for="location">Where I'm from in </label>
              <input type="location" class="form-control" id="location" placeholder="City / Town / Village">
            </div>
            <div class="form-group">
              <label for="bread_name">It's called a </label>
              <input type="bread_name" class="form-control" id="bread_name" placeholder="Bun / Bap / Cob">
            </div>
            <button type="submit" class="btn btn-default">Join the fight!</button>
          </form>
        </div>

        <!-- Twitter widget-->
        <div class="centerdiv">
          <h3>See the Bun Fight commentary on Twitter</h3>
          <a class="twitter-timeline" style="width: 25% ;height: 25%" data-width="500" data-height="400" data-link-color="#981CEB" href="https://twitter.com/bun_fight_app">Tweets by Bun Fight</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <!-- About Bunfight -->
        <div class="centerdiv">
          <h3>Time out! What's this fight all about?</h3>
          <p><strong>Bun Fight</strong> is a project that hopes to end all pub debates of 'What is that small peice of bread - the one that just fits in your hand <em>really</em> called?' 
          <br>
          People all over the UK call it all sorts of different things, there's no wrong answer</p>
        </div>
        <!-- Contact -->


        <!-- Footer--> 
        <div class="centerdiv footer">
          <p>Founded 2016</p>
          <a href="https://twitter.com/bun_fight_app?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @bun_fight_app</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <a href="https://twitter.com/codefirstgirls?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @codefirstgirls</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

    </div>
  </body>
</html>
